html {
  font-family: system-ui, sans-serif;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  flex-shrink: 0;
}
#log {
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}
#log:before {
  content: "";
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
}
#input {
  display: flex;
  align-items: end;
  border-top: 1px solid #ccc;
  min-height: 2rem;
  max-height: 35vh;
  position: relative;
}
#editor,
.cm-editor {
  flex-grow: 1;
  height: 100%;
}
#input > button {
  border: 0;
  border-left: 1px solid #ccc;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #2a7dff;
}
easrng-console-logs {
  font-family: monospace;
  font-size: 0.875rem;
}
easrng-console-logs * {
  box-sizing: border-box;
}
easrng-console-logs .message {
  white-space: pre-wrap;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}
easrng-console-logs .log {
  display: flex;
  padding: 0.5rem 0.5rem;
  border-top: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  width: 100%;
}
easrng-console-logs .icon {
  height: 1.125rem;
  margin-inline-end: 0.375rem;
  opacity: 0.75;
  margin-top: -1px;
}
easrng-console-logs .log-error {
  background: color-mix(in srgb, Canvas, #f00 15%);
}
easrng-console-logs .log-warn {
  background: color-mix(in srgb, Canvas, #fc0 15%);
}
easrng-console-logs .logs {
  display: block;
  margin: 0;
  padding: 0;
}
easrng-console-logs .log-table .table-wrap {
  border: 1px solid GrayText;
  box-shadow: inset 0 0 0 1px GrayText;
  overflow-x: auto;
  max-width: fit-content;
}
easrng-console-logs table {
  border-collapse: collapse;
}
easrng-console-logs th,
easrng-console-logs td {
  border: 1px solid GrayText;
  padding: 0.25rem;
  text-align: start;
}
easrng-console-logs th {
  font-weight: bold;
}
easrng-console-logs ul {
  margin: 0;
  padding: 0;
}
.cm-scroller {
  font-size: 0.875rem;
}
easrng-console-logs .log-output .icon {
  opacity: 0.55;
}
.cm-content {
  padding-block: 6px !important;
}
#input .icon {
  margin-top: -1px;
  width: 1.125rem;
  height: 1.125rem;
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
  opacity: 0.75;
}
.cm-line {
  padding-left: 2rem !important;
}
.cm-tooltip {
  font-size: 0.875rem;
}
.cm-tooltip li[role="option"] {
  padding: 0.25rem 0.5rem !important;
}
